@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Doto', sans-serif;
    padding: 100px 0;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../imagens/botafogo_background.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

span {
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

#corpo-detalhes {
    background-color: #9b9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.123);
    width: 90%;
    max-width: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    border-radius: 10px;
    overflow: hidden;

}

.card .imagem {
    flex: 0 0 40%; 
}

.card .container {
    flex: 1;
    padding: 20px;
    font-weight: 1000;

}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px; 
    font-family: 'Noto Sans JP', sans-serif;
}

.card p {
    margin: 5px 0;
    margin-bottom: 10px; 
}

.card button {
    font-family: 'Doto', sans-serif;
    font-weight: 1000;
    background-color: #fbf300;
    color: #000000;
    padding: 10px 20px;
    border-radius: 25px; /* Botão mais arredondado */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 24em;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra no botão */
}

.card button:hover {
    background-color: #e6e6e6; /* Alteração de cor no hover */
    color: black;
    transform: translateY(-3px); /* Leve elevação no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Destaque no hover */
}
@media (max-width: 768px) {
    body {
        padding: 50px 20px;
    }
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card .imagem {
        flex: 0 0 auto;
        width: 100%;
    }

    .card .container {
        padding: 10px;
    }

    .card h2 {
        font-size: 18px;
    }

    .card p {
        margin: 5px 0;
        margin-bottom: 8px;
    }

    .card button {
        padding: 8px 16px;
        margin-top: 8px;
    }
}